<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form><br><br><br>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <ul align="left" style="list-style: none">
          <li><b>Buy</b></li>
          <li><a href="#">eBay Money Back Gurantee</a></li>
          <li><a href="#">Bidding and Buying Help</a></li>
          <li><a href="#">Stores</a></li>
          <li><a href="#">eBay Local</a></li>
          <li><a href="#">eBay Guides</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul align="left" style="list-style: none">
          <li><b>Sell</b></li>
          <li><a href="#">Start Selling</a></li>
          <li><a href="#">Learn to Sell</a></li>
          <li><a href="#">Business Sellers</a></li>
          <li><a href="#">Affiliates</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul align="left" style="list-style: none">
          <li><b>Buy</b></li>
          <li><a href="#">eBay Money Back Gurantee</a></li>
          <li><a href="#">Bidding and Buying Help</a></li>
          <li><a href="#">Stores</a></li>
          <li><a href="#">eBay Local</a></li>
          <li><a href="#">eBay Guides</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul align="left" style="list-style: none">
          <li><b>Sell</b></li>
          <li><a href="#">Start Selling</a></li>
          <li><a href="#">Learn to Sell</a></li>
          <li><a href="#">Business Sellers</a></li>
          <li><a href="#">Affiliates</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <p>Copyright © 1995-2016 eBay Inc. All Rights Reserved. User Agreement, Privacy, Cookies and AdChoice</p>
</footer>