  <div class="panel panel-default panel-success">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" data-parent="#accordion"  href="#collapse1">
        Enjoy EBAY Deals</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse panel-success">
      <div class="panel-body">
        <div class="jumbotron">
          <div class="container text-center">
              <div class="col-sm-4">
                <h1>Welcome to EBAY</h1>
              </div>
              <div class="col-sm-4">
                 <img src="./images/IMG_20151115_212036.jpg" class="img-responsive" width="304" height="236" alt="Cinque Terre">
              </div>
              <div class="col-sm-4">
                <p>Connect with cricket :D</p>
              </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
<nav class="navbar">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>Hi!<button class="btn btn-link" role="link"><a href ="/login"> Mansi </a></button></li>
      <li class="divider-vertical"><button class="btn btn-link" role="link"> Daily Deals</button></li>
      <li class="divider-vertical"><button class="btn btn-link" role="link"> Gift Cards</button></li>
      <li class="divider-vertical"><button class="btn btn-link" role="link"> Sell</button></li>
      <li class="divider-vertical"><button class="btn btn-link" role="link"> Help and Contact</button></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-link" role="link"><a href="/profile"><span class="glyphicon glyphicon-user"></span> My eBay</a></button></li>
      <li class="divider-vertical"><button class="btn btn-link" role="link"><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></button></li>
      <li class="divider-vertical"><button class="btn btn-link" role="link"><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></button></li>
    </ul>
  </div>
</nav>
<nav class="navbar">
  <div class="container">
  <div class="row">
    <div class="col-lg-1">
      <a href="#"><img src= "./images/EBay_logo.png" width="110px"></img></a>
    </div>
    <div class="col-lg-3">
      <form class="navbar-form" role="search">
      <button class="btn btn-block btn-default dropdown-toggle" style="width: 250px;" type="button" data-toggle="dropdown">Shop By Category
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/womenclothing">Women Fashion</a></li>
        <li><a href="/menfootwear">Harvest Feast</a></li>
        <li><a href="/sportinggoods">Electronics</a></li>
        <li><a href="/electronics">High Contrast Kicks</a></li>
        <li><a href="/womenclothing">Autumn Ready Yard</a></li>
        <li><a href="/menfootwear">A Hitchcock Halloween</a></li>
        <li><a href="/womenclothing">At Home in History</a></li>
        <li><a href="/womenclothing">The Columbus Days Deals</a></li>
        <li><a href="/menfootwear">Prepare for the Holidayst</a></li>
      </ul>
      </form>
    </div>
    <div class="col-lg-8">
      <form class="navbar-form" role="search">
        <div class="input-group input-group-md">
          <form role="form">  
            <input type="text" class="form-control" style="width: 550px;" />
		  </form>
          <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">All Categories
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
        <li><a href="/womenclothing">Women Fashion</a></li>
        <li><a href="/menfootwear">Harvest Feast</a></li>
        <li><a href="/sportinggoods">Electronics</a></li>
        <li><a href="/electronics">High Contrast Kicks</a></li>
        <li><a href="/womenclothing">Autumn Ready Yard</a></li>
        <li><a href="/menfootwear">A Hitchcock Halloween</a></li>
        <li><a href="/womenclothing">At Home in History</a></li>
        <li><a href="/womenclothing">The Columbus Days Deals</a></li>
        <li><a href="/menfootwear">Prepare for the Holidayst</a></li>
      </ul>
            <button type="button" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
    </div>
</nav>